<div class="jumbotron jumbotronclass text-center">
  {{!-- <div class="overlay">
  </div> --}}
  {{!-- <div class="background-image">
  </div> --}}
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>New York Times Edition</p>
  </div>
</div>



<div class="container">
    <div class="col-md-12">
        {{#if article}}
            {{#each article}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{this.title}}</h4>
                </div>
                <div class="panel-body">
                    <p> {{this.summary}}</p>
                    <a href={{this.link}} target="_blank">{{this.link}}</a>
                    <br><br>
                    <button type="button" class="btn btn-success save" data-id={{this._id}}>Save Article</button>
                </div>
            </div>
            {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
            <h4>Click 'Scrape New Articles' to see new articles!</h4>
            </div>
         </div>
        {{/if}}
    </div>
    </div>
</div>